openapi: 3.2.0
info:
  title: LocoNav Integration Alerts API
  version: v1
  description: 'LocoNav''s REST APIs for fleet telematics integration: telematics (sensor/GPS/video/live-stream), CRUD resource management (drivers, vehicles, trips, geofences, users), safety and connected-driver features, alerts and alert-subscriptions, and immobilization. Converted from LocoNav''s published Postman documentation at developers.loconav.com. All listing endpoints are paginated (page/perPage); time parameters use epoch seconds.'
  contact:
    name: LocoNav Developer Support
    url: https://developers.loconav.com/
servers:
- url: https://api.a.loconav.com/integration/api/v1
  description: Production
security:
- UserAuthentication: []
tags:
- name: Alerts
paths:
  /integration/api/v1/alerts:
    get:
      operationId: getAlerts
      summary: Get Alerts
      tags:
      - Alerts
      responses:
        '200':
          description: Successful response
      description: 'This endpoint sends an HTTP GET request to retrieve alerts based on the specified start time, end time, and alert type.


        Request Parameters


        startTime (optional): The start time for retrieving alerts.


        endTime (optional): The end time for retrieving alerts.


        alertType (optional): The type of alert to be retrieved.


        Response


        The response of this request is a JSON schema describing the structure of the alert data that will be returned. The JSON schema will outline the properties and their data types for the alert objects.


        Example JSON Schema:


        {

        "success": "boolean",

        "data": {

        "values": [

        {

        "id": 0,

        "eventTime": 0,

        "eventType": "string",

        "localizeEventType": "string",

        "startedTs": 0,

        "startLocation": {

        "lat": 0,

        "long": 0,

        "address": "string"

        },

        "comments": [],

        "supportsVt": "string",

        "videoDetail": null,

        "vehicle": {

        "uuid": "string",

        "number": "string"

        },

        "vehicleId": 0,

        "endedTs": 0,

        "endLocation": {

        "lat": 0,

        "long": 0,

        "address": "string"

        }

        }

        ],

        "pagination": {

        "page": 0,

        "perPage": 1,

        "more": false,

        "total": 1

        },

        "metadata": {}

        }

        }'
  /integration/api/v1/vehicles/{vehicleId}/alerts:
    get:
      operationId: listAlerts
      summary: List Alerts
      tags:
      - Alerts
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Get Alerts API allows users to retrieve information about alerts triggered by vehicle-related events during a specified time range.


        Request Parameters


        startTime (integer, required): The timestamp indicating the start of the time range for fetching alerts.


        endTime (integer, required): The timestamp indicating the end of the time range for fetching alerts.


        alertType (string, optional): Filter results according to the alert type (See list below for support types)


        Note:


        Difference between startTime and endTime should be less than a day.


        Difference between startTime and endTime should be more than 1 min


        startTime and endTime should not be same


        History data is available till last 6 months.


        Response Structure


        Each alert includes the following details:


        id (integer): Unique identifier for the alert.


        eventTime (integer): Timestamp when the event occurred.


        eventType (string): Type of the alert event.


        localizeEventType (string): Localized type of the alert event.


        startedTs (integer): Timestamp when the alert event started.


        startLocation (object): Details about the location where the alert event started.


        comments (array): Additional comments related to the alert.


        supportsVt (boolean): Indicates if the alert supports video tracking.


        videoDetail (object): Details related to video tracking (if supported).


        endedTs (integer): Timestamp when the alert event ended (if applicable).


        <'
      parameters:
      - name: vehicleId
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    UserAuthentication:
      type: apiKey
      in: header
      name: User-Authentication
      description: User-level API token supplied in the User-Authentication request header.
