openapi: 3.2.0
info:
  title: LocoNav Integration Drivers API
  version: v1
  description: 'LocoNav''s REST APIs for fleet telematics integration: telematics (sensor/GPS/video/live-stream), CRUD resource management (drivers, vehicles, trips, geofences, users), safety and connected-driver features, alerts and alert-subscriptions, and immobilization. Converted from LocoNav''s published Postman documentation at developers.loconav.com. All listing endpoints are paginated (page/perPage); time parameters use epoch seconds.'
  contact:
    name: LocoNav Developer Support
    url: https://developers.loconav.com/
servers:
- url: https://api.a.loconav.com/integration/api/v1
  description: Production
security:
- UserAuthentication: []
tags:
- name: Drivers
  description: Efficient driver management is essential for the optimal operation of a fleet.
paths:
  /integration/api/v1/drivers/{driverId}:
    get:
      operationId: getDriver
      summary: Get Driver
      tags:
      - Drivers
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Driver Details API allows users to retrieve detailed information about a specific driver in the LocoNav system. This information includes the driver''s personal details, contact information, license details, guarantor information, and uploaded documents.


        Path Parameters


        driverId (integer, required): The unique identifier of the driver for which details are requested.


        Response Body


        id (integer): The unique identifier of the driver.


        name (string): The name of the driver.


        phoneNumber (string): The phone number of the driver.


        aadharNumber (string): The Aadhar number of the driver (if available).


        vehicleNumber (string): The vehicle number assigned to the driver.


        licenseNumber (string): The driver''s license number.


        guarantorName (string): The name of the driver''s guarantor.


        guarantorPhoneNumber (string): The phone number of the driver''s guarantor.


        licenseIssueDate (integer): The timestamp of the driver''s license issue date.


        licenseValidFrom (integer): The timestamp of the start date of the driver''s license validity.


        licenseValidUpto (integer): The timestamp of the end date of the driver''s license validity.


        driverCountryCode (string): The country code of the driver.


        guarantorCountryCode (string): The country code of the driver''s guarantor.


        rfidTrackingId (string): The RFID tracking ID associated with the driver (if available).


        uploads (object): An object containing uploaded documents related to the driver.'
      parameters:
      - name: driverId
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: updateDrivers
      summary: Update Drivers
      tags:
      - Drivers
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Update Driver API allows users to update the information of an

        existing driver profile identified by the driver''s unique identifier.


        Request Body


        name (string): The updated name of the driver.


        countryCode (string): The updated country code associated with the driver''s phone number.


        phoneNumber (string): The updated phone number of the driver.


        Response Structure


        success (boolean): Indicates whether the operation was successful.


        data (object): Contains details of the updated driver if the operation was successful.


        id (integer): Unique identifier for the updated driver.


        name (string): Updated name of the driver.


        Notes


        The {driverId} parameter should be replaced with the actual unique identifier of the driver to be updated.


        The countryCode parameter should follow the ISO standard.


        Phone numbers should be provided without any special characters (e.g., spaces, dashes)'
      parameters:
      - name: driverId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: demo
              countryCode: IN
              phoneNumber: '8259986926'
    delete:
      operationId: deleteDriver
      summary: Delete Driver
      tags:
      - Drivers
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Delete Driver API enables users to remove a driver profile from the system using the driver''s unique identifier.


        Request Param


        {driverId}: The unique identifier of the driver to be deleted.


        Response Structure


        success (boolean): Indicates whether the operation was successful.


        data (string): Confirmation message indicating that the driver was deleted successfully.


        Notes


        The {driverId} parameter should be replaced with the actual unique identifier of the driver to be deleted.


        Deleting a driver profile is irreversible. Ensure that the correct driver identifier is provided before executing the request.'
      parameters:
      - name: driverId
        in: path
        required: true
        schema:
          type: string
  /integration/api/v1/drivers:
    get:
      operationId: listDriversFilter
      summary: List drivers (Filter)
      tags:
      - Drivers
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Search Drivers API allows users to search for drivers by name. Users can provide a partial or full name of the driver to retrieve a list of matching drivers along with their associated phone numbers.


        Request Parameters


        name (string): The name of the driver to search for. This parameter supports partial or full name matching.


        page (integer): The page number of the results to retrieve. Default is 1.


        perPage (integer): The number of results per page. Default is 10.


        getIdAndName (boolean,optional) default true, for more details set it false


        vehicleIds: comma seprated vehicle uuid''s


        Response Structure


        values (array): Array containing driver objects matching the search query.


        id (integer): Unique identifier for the driver.


        name (string): Name of the driver.


        phone_number (string): Phone number of the driver.


        pagination (object): Pagination details.


        page (integer): Current page number.


        perPage (integer): Number of results per page.


        more (boolean): Indicates whether there are more pages of data available.


        metadata (object): Additional metadata if available.


        Note


        The name parameter supports partial or full name matching, allowing users to search for drivers based on various name combinations.'
    post:
      operationId: createDrivers
      summary: Create Drivers
      tags:
      - Drivers
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Create Driver API allows users to create a new driver profile by providing the driver''s name, country code, and phone number.


        Request Body


        name (string): The name of the driver.


        countryCode (string): The country code associated with the driver''s phone number.


        phoneNumber (string): The phone number of the driver.


        Response Structure


        success (boolean): Indicates whether the operation was successful.


        data (object): Contains details of the created driver if the operation was successful.


        id (integer): Unique identifier for the created driver.


        name (string): Name of the created driver.


        Notes


        The countryCode parameter should follow the ISO standard.


        Phone numbers should be provided without any special characters (e.g., spaces, dashes)'
  /integration/api/v1/driver_vehicle_assignments:
    post:
      operationId: vehicleAssignment
      summary: Vehicle Assignment
      tags:
      - Drivers
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Driver Vehicle Assignments API allows users to assign a driver to a specific vehicle in the LocoNav system. This association enables tracking and management of vehicles based on the assigned driver.


        Request Body


        vehicleId (string, required): The unique identifier of the vehicle to be assigned to the driver.


        driverId (integer, required): The unique identifier of the driver to be assigned to the vehicle.


        Response


        Successful Response (200 OK)


        Status Codes


        200 OK: The driver was successfully assigned to the vehicle.


        404 Not Found: The specified vehicle was not found in the system.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              vehicleId: 077c6ab2-6456-4e07-abd6-1e18bbe7ba1d
              driverId: 29866
  /integration/api/v1/driver_vehicle_unassignments:
    put:
      operationId: vehicleUnassignment
      summary: Vehicle Unassignment
      tags:
      - Drivers
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Driver Vehicle Unassignments API allows users to remove the association of a driver from a specific vehicle in the LocoNav system. This action disassociates the driver from the vehicle for tracking and management purposes.


        Request Body


        vehicleId (string, required): The unique identifier of the vehicle from which the driver will be unassigned.


        driverId (integer, required): The unique identifier of the driver to be unassigned from the vehicle.


        Response


        Successful Response (200 OK)


        Status Codes


        200 OK: The driver was successfully unassigned from the vehicle.


        422 Unprocessable Entity: The specified driver is not currently assigned to the provided vehicle.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              vehicleId: 077c6ab2-6456-4e07-abd6-1e18bbe7ba1d
              driverId: 29866
components:
  securitySchemes:
    UserAuthentication:
      type: apiKey
      in: header
      name: User-Authentication
      description: User-level API token supplied in the User-Authentication request header.
