openapi: 3.2.0
info:
  title: LocoNav Integration Vehicles / Telematics API
  version: v1
  description: 'LocoNav''s REST APIs for fleet telematics integration: telematics (sensor/GPS/video/live-stream), CRUD resource management (drivers, vehicles, trips, geofences, users), safety and connected-driver features, alerts and alert-subscriptions, and immobilization. Converted from LocoNav''s published Postman documentation at developers.loconav.com. All listing endpoints are paginated (page/perPage); time parameters use epoch seconds.'
  contact:
    name: LocoNav Developer Support
    url: https://developers.loconav.com/
servers:
- url: https://api.a.loconav.com/integration/api/v1
  description: Production
security:
- UserAuthentication: []
tags:
- name: Vehicles / Telematics
  description: Thes APIs allows you to access telematics data for vehicles, enabling you to retrieve real-time information and history about their status, location, and various sensor readings.
paths:
  /integration/api/v1/vehicles/telematics/last_known:
    post:
      operationId: lastKnown
      summary: Last known
      tags:
      - Vehicles / Telematics
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Vehicle Last Known Status API allows users to retrieve the latest telemetry data for one or more vehicles, including information such as GPS coordinates, vehicle speed, ignition status, vehicle battery level and more.


        Request Parameters


        vehicleIds (array, optional): An array of vehicle UUIDs for which the last known status is requested. If not provided, telemetry data for all vehicles is returned.


        sensors (array): An array specifying the sensors for which data is requested. Currently, only up to 3 sensors can be specified at a time.


        Response Structure


        values (array): Array containing telemetry data for each requested vehicle.


        vehicleNumber (string): Vehicle registration number.


        vehicleId (string): Unique identifier for the vehicle.


        sensors (object): Telemetry data for the requested sensors.


        pagination (object): Pagination details.


        page (integer): Current page number.


        perPage (integer): Number of vehicles per page.


        count (integer): Total count of vehicles in the response.


        more (boolean): Indicates whether there are more pages of data available.


        Note


        If the vehicleIds parameter is not provided, telemetry data for all vehicles will be returned in a paginated form.


        Only up to 3 sensors can be specified at a time in the sensors array.


        If sensors are not passed, GPS sensors are returned by default


        GPS object is a special object which contains speed, ignition, orientation, currentLocationCoordinates</'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              vehicleIds:
              - 077c6ab2-6456-4e07-abd6-1e18bbe7ba1d
              sensors:
              - gps
              - vehicleBatteryLevel
              - numberOfSatellites
  /integration/api/v1/vehicles/{vehicleId}/distance_travelled:
    get:
      operationId: getDistanceTravelled
      summary: Get Distance Travelled
      tags:
      - Vehicles / Telematics
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Vehicle Distance Travelled API allows users to retrieve the total distance travelled by a specific vehicle within a specified time range. This information can be valuable for tracking vehicle usage, analyzing efficiency, and managing maintenance schedules.


        Path Parameters


        startTime (integer, required): The start timestamp of the time range in Unix epoch format.


        endTime (integer, required): The end timestamp of the time range in Unix epoch format.


        Note:


        Difference between startTime and endTime should be less than a day.


        History data is available till last 6 months.


        Response Body


        startTime (integer): The start timestamp of the requested time range.


        endTime (integer): The end timestamp of the requested time range.


        number (string): The unique identifier or name of the vehicle.


        distance (object): An object containing the total distance travelled.


        unit (string): The unit of measurement for the distance (e.g., "km" for kilometers).


        value (float): The total distance travelled by the vehicle within the specified time range.


        vehicleUuid (string): The unique identifier of the vehicle.'
      parameters:
      - name: vehicleId
        in: path
        required: true
        schema:
          type: string
  /integration/api/v1/vehicles/{vehicleId}/timeline:
    get:
      operationId: getTimeline
      summary: Get Timeline
      tags:
      - Vehicles / Telematics
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Vehicle Telematics Timeline API provides historical movement and event data for a specific vehicle within a specified time range. This documentation outlines the usage, request parameters, and response structure of the API.


        Timeline will consist of 2 main parts


        Summary data for the provided time


        Timeline data containing event details


        Query Parameters


        startTime (required): The start time of the time range in UNIX timestamp format.


        endTime (required): The end time of the time range in UNIX timestamp format.


        Note:


        Difference between startTime and endTime should be less than a day.


        History data is available till last 6 months.


        Response Structure


        The response consists of detailed information about the vehicle''s movement, location, and timeline events.


        startLocation: Starting location object


        coordinates: lat,long coordinates of the vehicle.


        address : Geo address of the vehicle at start location


        endLocation: Ending coordinates of the vehicle.


        coordinates: lat,long coordinates of the vehicle


        address: Geo address of the vehicle at end location


        motion: Details about the vehicle''s motion, including distance, running time, stoppage time, offline time, and average speed.


        timeline: An array of timeline events, each providing information about a specific segment of the vehicle''s journey.


        Timeline Event Structure


        Each timeline event includes the following details:


        startLocation: Starting location object


        <cod'
      parameters:
      - name: vehicleId
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    UserAuthentication:
      type: apiKey
      in: header
      name: User-Authentication
      description: User-level API token supplied in the User-Authentication request header.
