openapi: 3.2.0
info:
  title: LocoNav Integration Alert Subscriptions API
  version: v1
  description: 'LocoNav''s REST APIs for fleet telematics integration: telematics (sensor/GPS/video/live-stream), CRUD resource management (drivers, vehicles, trips, geofences, users), safety and connected-driver features, alerts and alert-subscriptions, and immobilization. Converted from LocoNav''s published Postman documentation at developers.loconav.com. All listing endpoints are paginated (page/perPage); time parameters use epoch seconds.'
  contact:
    name: LocoNav Developer Support
    url: https://developers.loconav.com/
servers:
- url: https://api.a.loconav.com/integration/api/v1
  description: Production
security:
- UserAuthentication: []
tags:
- name: Alert Subscriptions
  description: With our Alert subscription APIs, you can manage the alerts effectively on a platform
paths:
  /integration/api/v1/vehicles/alerts/subscriptions:
    post:
      operationId: createAlertSubscriptions
      summary: Create Alert Subscriptions
      tags:
      - Alert Subscriptions
      responses:
        '200':
          description: Successful response
      description: 'Each kind of alert will have different fields for alert_config, specific config is below :


        “vehicle_numbers” : [], // array of vehicle number, wether this or id only one is processed, id first priority


        in all kind either use vehicle id or number whichever applicable.


        Overspeed

        “kind”: “overspeed”,

        “vehicleIds” : [], // array of vehicle ids

        “includeAll” : “0”,

        “alertConfig”:{

        “speedLimit”: “200”,

        “minDurationInMinutes”: “100”,

        “minDurationInSeconds”: “10”

        }

        Entry_exit

        kind”: “entry_exit”,

        “vehicleIds” : [], // array of vehicle ids

        “includeAll” : “0”,

        “alertConfig”:{

        “polygonIds”: [],

        “includeAllPolygons”: 0/1

        }


        Sudden Braking

        “kind”: “sudden_braking”,

        “vehicleIds” : [], // array of vehicle ids

        “includeAll” : “0”,


        Sudden acceleration

        “kind”: “sudden_acceleration”,

        “vehicleIds” : [], // array of vehicle ids

        “includeAll” : “0”,


        Vehicle Idling Alert

        “Kind” : “vehicle_idle”,

        “vehicleIds” : [],

        “includeAll” : “0”,

        “alertConfig” : {

        “minDuration” : “10”

        }


        Fatigue Alert

        “kind” : “fatigue”,

        "vehicleIds" : [],

        "includeAll" : "0",

        “alertConfig” : {

        “fatigueDurationInMinutes” : “100”,

        “stoppageTimeToIgnoreInMinutes” : “15”

        }


        Antitheft Alert

        “kind” : “anti_theft”,

        "vehicleIds" : ["2"],

        "includeAll" : "0",

        “alertConfig” : {

        “startTime” : “15:35”,

        “endTime” : “15:45”

        }


        Over rev Alert

        “kind” : “over_rev”,

        "vehicleIds" : [],

        "includeAll" : "0",

        “alertConfig” : {

        “rpmValue” : “40”,

        “minDurationInMinutes”: “100”,

        “minDurationInSeconds”: “10”

        }


        TowAway Alert


        “kind” : “tow_away”,


        "vehicleIds" : []


        }<'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              alertSubscriptions:
              - kind: overspeed
                vehicleIds:
                - 67fd83f8-d9d2-438d-872c-586299aedc0f
                includeAll: '0'
              alertConfig:
                speedLimit: '200'
                minDurationInMinutes: '100'
                minDurationInSeconds: '10'
    put:
      operationId: updateAlertSubscription
      summary: Update Alert Subscription
      tags:
      - Alert Subscriptions
      responses:
        '200':
          description: Successful response
      description: 'Update Vehicle Alert Subscriptions


        This endpoint allows the user to update the alert subscriptions for vehicles.


        Request Body


        alertSubscriptions (array of objects) - An array containing the details of alert subscriptions.


        id (number) - The ID of the alert subscription.


        kind (string) - The type of alert subscription.


        vehicleIds (array of strings) - An array of vehicle IDs for which the alert subscription is being updated.


        alertConfig (object) - The configuration for the alert subscription.


        minDurationInMinutes (number) - The minimum duration in minutes for the alert.


        minDurationInSeconds (number) - The minimum duration in seconds for the alert.


        speedLimit (number) - The speed limit for the alert.


        subUserIds (array of numbers) - An array of user IDs for the alert subscription.


        vehicleGroupIds (array of numbers) - An array of vehicle group IDs for the alert subscription.


        Response


        status (boolean) - Indicates the status of the request. true for success.


        data (string) - Additional data related to the request.


        Example Response:


        {

        "status": true,

        "data": ""

        }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              alertSubscriptions:
              - id: 2313
                kind: overspeed
                vehicleIds:
                - e7eb2c16-c6d9-49ac-a1f1-7bf45a31c38c
                alertConfig:
                  minDurationInMinutes: 1
                  minDurationInSeconds: 2
                  speedLimit: 6
                  subUserIds:
                  - 5521
                  - 4780
                  - 6063
                  - 6064
                  vehicleGroupIds:
                  - 3621
components:
  securitySchemes:
    UserAuthentication:
      type: apiKey
      in: header
      name: User-Authentication
      description: User-level API token supplied in the User-Authentication request header.
