openapi: 3.2.0
info:
  title: LocoNav Integration Video Telematics VT / Live Stream API
  version: v1
  description: 'LocoNav''s REST APIs for fleet telematics integration: telematics (sensor/GPS/video/live-stream), CRUD resource management (drivers, vehicles, trips, geofences, users), safety and connected-driver features, alerts and alert-subscriptions, and immobilization. Converted from LocoNav''s published Postman documentation at developers.loconav.com. All listing endpoints are paginated (page/perPage); time parameters use epoch seconds.'
  contact:
    name: LocoNav Developer Support
    url: https://developers.loconav.com/
servers:
- url: https://api.a.loconav.com/integration/api/v1
  description: Production
security:
- UserAuthentication: []
tags:
- name: Video Telematics VT / Live Stream
paths:
  /integration/api/v1/livestreams/{sessionId}:
    get:
      operationId: getLivesteam
      summary: Get Livesteam
      tags:
      - Video Telematics VT / Live Stream
      responses:
        '200':
          description: Successful response
      description: 'Overview


        This API retrieves the live video stream for vehicle telematics. It requires the session ID of the livestream.


        Query Parameters


        sessionId (string): The session ID of the livestream.


        Request Headers


        User-Authentication: Your user authentication token.


        Content-Type: application/json


        Response


        The API returns a JSON object with the following fields:


        streamId (string): The ID of the video stream.


        backCamUrl (string): URL for the back camera feed.


        frontCamUrl (string): URL for the front camera feed.


        options (array of strings): Available video options.


        currentResolution (string): Current video resolution.


        sessionId (string): The session ID of the livestream.


        status (string): Status of the livestream (e.g., "active").


        keepAliveInterval (integer): Interval for keeping the livestream alive.


        totalSessionTime (integer): Total duration of the livestream session. (time in seconds)


        activeSessions (integer): Number of active livestream sessions.


        expiryNotificationBuffer (integer): Buffer time for expiry notification.


        afterExpiryBuffer (integer): Buffer time after expiry.


        Notes


        The livestream URLs (backCamUrl and frontCamUrl) should be used to access the video feeds.


        Ensure that the session ID provided is valid and active.


        Authentication token is required for accessing the livestream.


        The response may contain additional fields not listed here.'
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: updateLivestream
      summary: Update Livestream
      tags:
      - Video Telematics VT / Live Stream
      responses:
        '200':
          description: Successful response
      description: 'Overview


        This API endpoint facilitates the modification of a livestream session, allowing users to either update its resolution or extend its duration.


        Request Body


        operation (string): Indicates operation whether to update resolution or extend the livestream session.


        Data Type: String


        Options: "change_resolution" or "extend_duration"


        resolution (string): Specifies the desired resolution for the livestream.


        Data Type: String


        Options: "640x480", "1280x720", "1920x1080", "3840x2160"


        Response Body


        success (boolean): Indicates whether the request was successful.


        Data Type: Boolean


        message (string): Message confirming the success of the livestream session update.


        Data Type: String'
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              operation: extend_duration
              resolution: 640x480
  /integration/api/v1/livestreams:
    post:
      operationId: createLivestream
      summary: Create Livestream
      tags:
      - Video Telematics VT / Live Stream
      responses:
        '200':
          description: Successful response
      description: 'Overview


        This API initiates a live video streaming session for a vehicle. Data will be returned if vehicle support Video or contains active VT device.


        Request Body


        vehicleId (string): The ID of the vehicle


        resolution (string): The desired resolution for the video stream. Options


        640x480


        1280x720


        Response Structure


        success (boolean): Indicates whether the request was successful or not.


        data (object): Contains the details of the live video streaming session.


        streamId (string): The ID of the video streaming session.


        backCamUrl (string): URL for accessing the live stream from the back camera.


        frontCamUrl (string): URL for accessing the live stream from the front camera.


        options (array of strings): Available options for the video stream.


        currentResolution (string): The current resolution of the video stream.


        sessionId (string): The ID of the session.


        status (string): The status of the session (e.g., initiated, active).


        keepAliveInterval (integer): The interval (in seconds) for sending keep-alive signals.


        totalSessionTime (integer): The total duration of the session (in seconds).


        activeSessions (integer): The number of active sessions.


        expiryNotificationBuffer (integer): The buffer time (in seconds) for expiry notification.


        afterExpiryBuffer (integer): The buffer time (in seconds) after expiry.


        Notes


        The resolution parameter specifies the'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              vehicleId: ff3fb6bf-1c1e-429d-b5ac-60afda6ee94f
              resolution: 640x480
  /integration/api/v1/livestreams/{streamId}:
    delete:
      operationId: deleteLivestream
      summary: Delete Livestream
      tags:
      - Video Telematics VT / Live Stream
      responses:
        '200':
          description: Successful response
      description: 'Overview


        This API endpoint is used to delete a specific vehicle''s telematics livestream by providing its unique session ID.


        Response Body


        status (boolean): Indicates whether the request was successful.


        Data Type: Boolean


        data (object): Additional data related to the deletion process.


        success (boolean): Indicates whether the deletion was successful.


        Data Type: Boolean


        message (string): A message confirming the success of the deletion operation.


        Data Type: String'
      parameters:
      - name: streamId
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    UserAuthentication:
      type: apiKey
      in: header
      name: User-Authentication
      description: User-level API token supplied in the User-Authentication request header.
