openapi: 3.2.0
info:
  title: LocoNav Integration Vehicles API
  version: v1
  description: 'LocoNav''s REST APIs for fleet telematics integration: telematics (sensor/GPS/video/live-stream), CRUD resource management (drivers, vehicles, trips, geofences, users), safety and connected-driver features, alerts and alert-subscriptions, and immobilization. Converted from LocoNav''s published Postman documentation at developers.loconav.com. All listing endpoints are paginated (page/perPage); time parameters use epoch seconds.'
  contact:
    name: LocoNav Developer Support
    url: https://developers.loconav.com/
servers:
- url: https://api.a.loconav.com/integration/api/v1
  description: Production
security:
- UserAuthentication: []
tags:
- name: Vehicles
  description: 'Loconav''s Vehicle APIs offer developers a powerful toolkit for real-time fleet management. The Fetch Vehicle Details API provides comprehensive vehicle insights, while the Last Known Stats API delivers live statistics.


    These APIs enable developers to create efficient, data-driven solutions for fleet monitoring and analytics, enhancing operational efficiency and decision-making.'
paths:
  /integration/api/v1/vehicles:
    get:
      operationId: listVehicles
      summary: List Vehicles
      tags:
      - Vehicles
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The List Vehicles API enables users to retrieve a paginated list of vehicles along with their details like vehicle number, device details, subscription details and more.


        Request Parameters


        vehicleNumber (string, optional): The vehicle number for filtering


        deviceSerialNumber(string, optional): The Device serial Number (IMEI) number


        page (integer): The page number for pagination. Default is 1.


        perPage (integer): The number of vehicles to be included per page. Default is 10.


        vehicleNumbers (string, optional):The vehicle numbers for filtering.


        vehicleUuids (string, optional): The vehicleUuids for filtering.


        fetchMobilizationDetails(boolean,optional): Vehicle Mobilzation Status


        Response Structure


        Each vehicle entry includes the following details:


        number (string): Vehicle registration number.


        deviceId (string): Unique identifier for the associated device.


        displayNumber (string): Display name or identifier for the vehicle.


        vehicleUuid (string): Unique identifier for the vehicle.


        status (boolean): Current status of the vehicle.


        current_device (object): Details about the associated device.


        subscription (object): Details about the subscription, including expiration date.


        vehicleType (string): Type or category of the vehicle.


        createdAt (integer): Timestamp indicating when the vehicle record was created.


        updatedAt (integer): Timestamp indicating when the vehicle'
  /integration/api/v1/vehicles/{vehicleId}/score_card:
    get:
      operationId: getVehicleScoreCard
      summary: Get Vehicle Score card
      tags:
      - Vehicles
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Vehicle Score card API provides detailed insights into the behavior and performance of a vehicle within a specified time range. Fleet managers can utilize this information to assess driver efficiency, safety, and overall performance.


        Query Parameters


        startTime (required): The start time of the time range in UNIX timestamp format.


        endTime (required): The end time of the time range in UNIX timestamp format.


        Response Fields


        runningTime: Time the vehicle spent in motion (unit: minutes).


        distance: Total distance covered by the vehicle (unit: km).


        stoppageTime: Time the vehicle spent in stoppage (unit: minutes).


        idleDuration: Duration of engine idling (unit: minutes).


        idlingEventsCount: Number of idling events.


        overspeedDuration: Duration of overspeeding (unit: minutes).


        overspeedEventsCount: Number of overspeed events.


        suddenBrakingEventsCount: Number of sudden braking events.


        suddenAccelerationEventsCount: Number of sudden acceleration events.


        sharpTurnEventsCount: Number of sharp turn events.


        seatBeltEventsCount: Number of seat belt events.


        totalEvents: Total number of events.


        overallScore: Overall driver score (unit: points, ranging from 0 to 100).


        distanceMetric: Total distance covered metric (unit: km).


        fuelConsumption: Fuel consumption during the specified period (unit: liters).


        mileage: Vehicle mileage information (unit: km/h).


        totalDuration: Total duration of the specified period (unit: minutes).


        Notes


        <l'
      parameters:
      - name: vehicleId
        in: path
        required: true
        schema:
          type: string
  /integration/api/v1/vehicles/{vehicleId}:
    get:
      operationId: getVehicleDetails
      summary: Get Vehicle Details
      tags:
      - Vehicles
      responses:
        '200':
          description: Successful response
      parameters:
      - name: vehicleId
        in: path
        required: true
        schema:
          type: string
  /integration/api/v1/vehicles/{vehicleId}/live_share_link:
    get:
      operationId: getLiveShareLink
      summary: Get Live Share Link
      tags:
      - Vehicles
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Live Share Link API allows users to retrieve a shareable link for real-time tracking of a specific vehicle. This link can be shared with others to provide live updates on the vehicle''s location and status.


        Request Headers


        User-Authentication: The authentication token for accessing the API. Replace {{auth-token}} with the actual authentication token.


        Path Parameters


        vehicleId (string, required): The unique identifier of the vehicle for which the live share link is requested.


        Response Structure


        shareLink (string): The generated shareable link for live tracking of the vehicle. This is a public link and can be open in any browser.


        Status Codes


        200 OK: The request was successful, and the shareable link is provided.


        404 Not Found: The requested vehicle was not found.'
      parameters:
      - name: vehicleId
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    UserAuthentication:
      type: apiKey
      in: header
      name: User-Authentication
      description: User-level API token supplied in the User-Authentication request header.
