openapi: 3.2.0
info:
  title: LocoNav Integration Video Telematics VT / Videos API
  version: v1
  description: 'LocoNav''s REST APIs for fleet telematics integration: telematics (sensor/GPS/video/live-stream), CRUD resource management (drivers, vehicles, trips, geofences, users), safety and connected-driver features, alerts and alert-subscriptions, and immobilization. Converted from LocoNav''s published Postman documentation at developers.loconav.com. All listing endpoints are paginated (page/perPage); time parameters use epoch seconds.'
  contact:
    name: LocoNav Developer Support
    url: https://developers.loconav.com/
servers:
- url: https://api.a.loconav.com/integration/api/v1
  description: Production
security:
- UserAuthentication: []
tags:
- name: Video Telematics VT / Videos
paths:
  /integration/api/v1/videos/{voidId}:
    get:
      operationId: getVideo
      summary: Get Video
      tags:
      - Video Telematics VT / Videos
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Video Details API allows users to retrieve detailed information about a specific video recording, providing insights into the associated device, duration, format, creator type, and more.


        Request Headers


        User-Authentication: The authentication token for accessing the API. Replace {{auth_token}} with the actual authentication token.


        Path Parameters


        vodId (string, required): The unique identifier of the video on demand (VOD).


        Response Body


        vodId (string): Unique identifier of the video on demand.


        requestType (string): Type of request, in this case "video". Possible values: video and timelapse


        duration (integer): Duration of the video in seconds.


        format (string): Format of the video (e.g., "Road", "Driver View", etc.).


        creatorType (string): The method through which the video was created (e.g., "manual", "automated", etc.).


        vehicleUuid (string): Unique identifier of the vehicle associated with the video.


        extraData (object): Additional data related to the video (if available).


        status (string): Status of the video (e.g., "processed", "pending", etc.).


        createdAt (string): Timestamp when the video was created.


        updatedAt (string): Timestamp when the video was last updated.


        driver (object): Information about the driver associated with the video.


        driverName (string): Name of the driver.


        driverId (integer): Unique identifier of the driver.


        video'
      parameters:
      - name: voidId
        in: path
        required: true
        schema:
          type: string
  /integration/api/v1/vehicles/{vehicleId}/videos:
    get:
      operationId: listVideos
      summary: List Videos
      tags:
      - Video Telematics VT / Videos
      responses:
        '200':
          description: Successful response
      description: 'Overview


        This API provides access to videos associated with specific vehicles.


        Query Parameters


        perPage (optional): Number of videos to retrieve per page. Default is 10.


        page (optional): Page number to retrieve. Default is 1.


        alertId (optional): Alert Id received via Alerts Webhook


        alertKind (required with alertId): Alert Kind recevied via Alerts Webhook


        Response Structure


        values (array): An array of video objects.


        vodId (string): Unique identifier for the video on demand (VOD).


        deviceId (string): Device identifier associated with the video.


        requestType (string): Type of video request.


        duration (integer): Duration of the video in seconds.


        format (string): Format of the video.


        creatorType (string): Type of creator of the video.


        vehicleUuid (string): Unique identifier of the vehicle associated with the video.


        extraData (object): Additional data associated with the video.


        status (string): Status of the video.


        createdAt (string): Timestamp indicating when the video was created.


        updatedAt (string): Timestamp indicating when the video was last updated.


        driver (object): Information about the driver associated with the video.


        driverName (string): Name of the driver.


        driverId (integer): Unique identifier of the driver.


        video (object): Information about the video'
      parameters:
      - name: vehicleId
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: createVideoRequest
      summary: Create Video Request
      tags:
      - Video Telematics VT / Videos
      responses:
        '200':
          description: Successful response
      description: 'Overview


        This API allows users to request the creation of a vehicle video. Users can specify various parameters such as format, resolution, request type, creator type, device ID, duration, and start time for the video.


        Request Body


        format (string): Format of the video (e.g., "Road", "Driver", "Side-by-Side").


        resolution (string): Resolution of the video (e.g., "640x480").


        requestType (string): Type of video request (e.g., "video").


        creatorType (string): Type of creator (e.g., "auto" or "manual").


        duration (integer): Duration of the video in seconds.


        startTime (integer): Start time of the video recording.


        Response Structure


        vodId (string): ID of the video-on-demand (VOD).


        deviceId (string): ID of the device recording the video.


        requestType (string): Type of video request (e.g., "video").


        duration (integer): Duration of the video in seconds.


        format (string): Format of the video (e.g., "Road").


        creatorType (string): Type of creator (e.g., "auto").


        vehicleUuid (string): UUID of the vehicle associated with the video.


        extraData (object): Additional data associated with the video.


        status (string): Status of the video creation process (e.g., "pending").


        createdAt (string): Timestamp of when the video was created.


        updatedAt (string): Timestamp of when the video was last updated.


        driver.driverName (string): Name of the driver associated with the video.


        driver.driverId (integer): ID of t'
      parameters:
      - name: vehicleId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              format: Road
              resolution: 640x480
              requestType: video
              creatorType: auto
              duration: 1
              startTime: 1702555021
components:
  securitySchemes:
    UserAuthentication:
      type: apiKey
      in: header
      name: User-Authentication
      description: User-level API token supplied in the User-Authentication request header.
