openapi: 3.2.0
info:
  title: LocoNav Integration Users API
  version: v1
  description: 'LocoNav''s REST APIs for fleet telematics integration: telematics (sensor/GPS/video/live-stream), CRUD resource management (drivers, vehicles, trips, geofences, users), safety and connected-driver features, alerts and alert-subscriptions, and immobilization. Converted from LocoNav''s published Postman documentation at developers.loconav.com. All listing endpoints are paginated (page/perPage); time parameters use epoch seconds.'
  contact:
    name: LocoNav Developer Support
    url: https://developers.loconav.com/
servers:
- url: https://api.a.loconav.com/integration/api/v1
  description: Production
security:
- UserAuthentication: []
tags:
- name: Users
paths:
  /integration/api/v1/user:
    get:
      operationId: getUserDetails
      summary: Get User Details
      tags:
      - Users
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The User Details API allows users to retrieve detailed information about the currently authenticated user in the LocoNav system. This information includes the user''s name, email, phone numbers, role, and account details.


        Request Headers


        User-Authentication: The authentication token for accessing the API. Replace {{auth-token}} with the actual authentication token.


        Response Fields


        id (integer): The unique identifier of the user.


        name (string): The name of the user.


        email (string): The email address of the user.


        createdAt (string): The timestamp of when the user account was created.


        updatedAt (string): The timestamp of when the user account was last updated.


        phoneNumbers (string): The phone numbers associated with the user.


        role (string): The role of the user in the system.


        account (object): An object containing details about the user''s account.


        id (integer): The unique identifier of the user''s account.


        name (string): The name of the user''s account.


        email (string): The email address of the user''s account.


        createdAt (string): The timestamp of when the user''s account was created.


        updatedAt (string): The timestamp of when the user''s account was last updated.


        active (boolean): Indicates if the user''s account is active.


        alertsPusher (boolean): Indicates if the user has alerts pusher enabled.'
components:
  securitySchemes:
    UserAuthentication:
      type: apiKey
      in: header
      name: User-Authentication
      description: User-level API token supplied in the User-Authentication request header.
