openapi: 3.2.0
info:
  title: LocoNav Integration Polygon (Geofence) API
  version: v1
  description: 'LocoNav''s REST APIs for fleet telematics integration: telematics (sensor/GPS/video/live-stream), CRUD resource management (drivers, vehicles, trips, geofences, users), safety and connected-driver features, alerts and alert-subscriptions, and immobilization. Converted from LocoNav''s published Postman documentation at developers.loconav.com. All listing endpoints are paginated (page/perPage); time parameters use epoch seconds.'
  contact:
    name: LocoNav Developer Support
    url: https://developers.loconav.com/
servers:
- url: https://api.a.loconav.com/integration/api/v1
  description: Production
security:
- UserAuthentication: []
tags:
- name: Polygon (Geofence)
  description: A geofence is a virtual boundary, often a rectangular bounding box, created using mapping software with specified latitude and longitude coordinates.
paths:
  /integration/api/v1/polygons/{polygonId}:
    get:
      operationId: getPolygon
      summary: Get Polygon
      tags:
      - Polygon (Geofence)
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Polygon Details API allows users to retrieve information about a specific polygon defined in the system. Polygons are used for geofencing and defining specific areas of interest for tracking and monitoring purposes.


        Request Headers


        User-Authentication: The authentication token for accessing the API. Replace {{auth-token}} with the actual authentication token.


        Path Parameters


        polygonId (string, required): The unique identifier of the polygon for which details are requested.


        Response Body


        id (integer): The unique identifier of the polygon.


        name (string): The name or identifier of the polygon.


        coordinates (array of strings): The center coordinates of the polygon in latitude and longitude format.


        radius (integer): The radius of the polygon (if applicable).


        polygonCoordinates (array of objects): The coordinates of the polygon vertices, defining its shape.


        lat (string): Latitude of the vertex.


        long (string): Longitude of the vertex.


        Status Codes


        200 OK: The request was successful, and the polygon details are provided.


        422 Unprocessable Entity: The requested polygon was not found.'
      parameters:
      - name: polygonId
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: updatePolygon
      summary: Update Polygon
      tags:
      - Polygon (Geofence)
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Update Polygon API allows users to modify the attributes of an existing polygon. Users can update the polygon''s name, location, radius and active status.


        Request Parameters


        polygonId (integer): Unique identifier for the polygon to be updated.


        Request Body


        name (string): The updated name of the polygon.


        lat (float): The updated latitude of the center point of the polygon.


        long (float): The updated longitude of the center point of the polygon.


        distanceUnit (string): The unit of measurement for the radius (e.g., "m" for meters).


        radius (integer): The updated radius of the polygon.


        active (boolean): The updated status indicating whether the polygon is active or not.


        Updated Polygon Structure


        The updated polygon includes the following details:


        id (integer): Unique identifier for the polygon.


        name (string): The updated name of the polygon.


        lat (string): The updated latitude of the center point of the polygon.


        long (string): The updated longitude of the center point of the polygon.


        active (boolean): Indicates whether the polygon is active or not.


        boundingBox (array): An array of coordinates forming the bounding box of the polygon.


        radius (integer): The updated radius of the polygon.


        updatedAt (integer): Timestamp indicating when the polygon was last updated.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              polygon:
                name: test_polygon5
                lat: 90
                distanceUnit: m
                radius: 100
                active: true
                long: 85.882186
      parameters:
      - name: polygonId
        in: path
        required: true
        schema:
          type: string
  /integration/api/v1/polygons:
    get:
      operationId: listPolygons
      summary: List Polygons
      tags:
      - Polygon (Geofence)
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The List Polygons API retrieves a paginated list of polygons based on specified query parameters. Users can filter the results by polygon name and active status.


        Request Parameters


        page (integer): Page number for pagination.


        perPage (integer): Number of items per page.


        name (string): Filter by polygon name (optional).


        active (boolean): Filter by active status (optional).


        Response Structure


        Each polygon in the list includes the following details:


        id (integer): Unique identifier for the polygon.


        name (string): The name of the polygon.


        lat (string): Latitude of the center point of the polygon.


        long (string): Longitude of the center point of the polygon.


        active (boolean): Indicates whether the polygon is active or not.


        address (string): Address associated with the polygon.


        boundingBox (array): An array of coordinates forming the bounding box of the polygon.


        radius (integer): Radius of the polygon.


        updatedAt (integer): Timestamp indicating when the polygon was last updated.


        geofenceCategory (string): Category associated with the geofence, if available.


        Pagination Information


        page (integer): Current page number.


        perPage (integer): Number of items per page.


        count (integer): Total number of polygons available.


        Bounding Box


        The bounding box is a rectangular area defined by four coordinates. In the response, it is represented as an array of latitude and longitude pairs. The bounding box encompasses th'
    post:
      operationId: createPolygon
      summary: Create Polygon
      tags:
      - Polygon (Geofence)
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Create Polygon API allows users to define and create geofence polygons with specified attributes. These polygons can be utilized for location-based services, such as monitoring and triggering events when a tracked asset enters or exits the defined area.


        Request Parameters


        name (string): The name of the polygon.


        lat (float): Latitude of the center point of the polygon.


        long (float): Longitude of the center point of the polygon.


        distanceUnit (string): Unit of measurement for the radius (e.g., "m" for meters).


        radius (integer): Radius of the polygon.


        active (boolean): Indicates whether the polygon is active or not.


        Response Structure


        id (integer): Unique identifier for the created polygon.


        name (string): The name of the polygon.


        lat (string): Latitude of the center point of the polygon.


        long (string): Longitude of the center point of the polygon.


        active (boolean): Indicates whether the polygon is active or not.


        boundingBox (array): An array of coordinates forming the bounding box of the polygon.


        radius (integer): Radius of the polygon.


        updatedAt (integer): Timestamp indicating when the polygon was last updated.


        Bounding Box


        The bounding box is a rectangular area defined by four coordinates. In the response, it is represented as an array of latitude and longitude pairs. The bounding box encompasses the outer edges of the circular polygon, allowing for simplified spatial queries and calculations.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              polygon:
                name: test_polygon4
                lat: 10
                distanceUnit: m
                radius: 100
                active: true
                long: 85.882186
components:
  securitySchemes:
    UserAuthentication:
      type: apiKey
      in: header
      name: User-Authentication
      description: User-level API token supplied in the User-Authentication request header.
