openapi: 3.2.0
info:
  title: LocoNav Integration Mobilization API
  version: v1
  description: 'LocoNav''s REST APIs for fleet telematics integration: telematics (sensor/GPS/video/live-stream), CRUD resource management (drivers, vehicles, trips, geofences, users), safety and connected-driver features, alerts and alert-subscriptions, and immobilization. Converted from LocoNav''s published Postman documentation at developers.loconav.com. All listing endpoints are paginated (page/perPage); time parameters use epoch seconds.'
  contact:
    name: LocoNav Developer Support
    url: https://developers.loconav.com/
servers:
- url: https://api.a.loconav.com/integration/api/v1
  description: Production
security:
- UserAuthentication: []
tags:
- name: Mobilization
paths:
  /integration/api/v1/vehicles/{vehicleId}/immobilizer_requests:
    post:
      operationId: createVehicleMobilizationRequest
      summary: Create Vehicle Mobilization Request
      tags:
      - Mobilization
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Immobilizer Requests API allows users to send requests to immobilize or mobilize a specific vehicle. This can be useful for security and safety purposes, enabling the control of a vehicle''s movement remotely.


        This is a async operation and will take some time. Call Get Mobilization requests API to know the status


        Path Parameters


        vehicleId (string, required): The unique identifier of the vehicle for which the immobilizer request is made.


        Request Body


        value (string, required): The action to be performed on the immobilizer. Possible values are "MOBILIZE" or "IMMOBILIZE".


        Response Body


        id (integer): The unique identifier of the immobilizer request. Customers can use this Id and call Get Mobilization request to find the status of the operation


        Status Codes


        200 OK: The request was successful, and the immobilizer request was processed.


        400 Bad Request: The request body contains invalid data.


        422 Unprocessable Entity: The specified vehicle is not set up for immobilization.'
      parameters:
      - name: vehicleId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              value: MOBILIZE
  /integration/api/v1/vehicles/immobilization_requests/{immobilizationRequestId}:
    get:
      operationId: getMobilizationRequests
      summary: Get Mobilization Requests
      tags:
      - Mobilization
      responses:
        '200':
          description: Successful response
      description: 'Overview


        The Immobilization Request Details API allows users to retrieve details about a specific immobilization request made for a vehicle. This includes information such as the status of the request, the reason for immobilization, and the user who initiated the request.


        Request Headers


        User-Authentication: The authentication token for accessing the API. Replace {{auth-token}} with the actual authentication token.


        Path Parameters


        immobilizationRequestId (string, required): The unique identifier of the immobilization request for which details are requested.


        Response Body


        id (integer): The unique identifier of the immobilization request.


        truck_id (integer): The identifier of the truck associated with the request.


        status (string): The status of the immobilization request (e.g., "success", "pending", "failed").


        message (string): A message indicating the result of the immobilization request.


        mobilize (boolean): Indicates whether the request was for mobilization (true) or immobilization (false).


        created_via (string): The method or platform through which the request was created.


        created_at (integer): The timestamp when the request was created.


        updated_at (integer): The timestamp when the request was last updated.


        creator_type (string): The type of user who initiated the request (e.g., "User", "Admin").


        creator_email (string): The email address of the user who initiated the request.


        reason (string): The reason provided for the immobili'
      parameters:
      - name: immobilizationRequestId
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    UserAuthentication:
      type: apiKey
      in: header
      name: User-Authentication
      description: User-level API token supplied in the User-Authentication request header.
